/*  //////////////////////////////////////////// HEADER BEGINS ////////////////////////////////////// */
body{
    overflow-y: scroll;
      height: auto;
      min-height: 100vh;
}

header{
    /* background-color: hsl(24, 100%, 88%); */
    background-color: hsl(270, 36%, 96%);
    width: 100%;
    padding-bottom: 3rem;
    /* font-family: 'Open Sans', sans-serif; */
}

.navbar{
    background: transparent;
    transition:all 0.6s;
    z-index: 1000;
}

.sticky{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 10px 3px 20px rgb(155, 152, 152);
}

.wrap{
    white-space: no-wrap;
}

.navbar-brand{
    padding-left: 1.5rem;
    color: coral;
}

.navbar-nav{
    padding-right: 10rem;
}


.navbar-nav li{
    padding: 1rem 2rem;
}

.navbar-nav li a{
    font-size: medium;
    /* font-weight: 600; */
    color: coral;
}

.navbar a:hover{
    color: rgb(189, 97, 63) !important;
    border-bottom: 3px solid rgb(189, 97, 63);
}

.navbar-img{
   border-radius: 10%;
}

.navbar-about{
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-row{
    position: relative;
}

.navbar-about h1{
    font-size: 4rem;
}

.navbar-about .btn{
    background-color: coral;
    color: white;
}

.navbar-about .links{
    position: absolute;
    bottom: 0;
}

.navbar-about .links a{
    padding-right: 0.5rem;
    color: coral;
}

/* ///////////////////////////////////////// HEADER ENDING ////////////////////////////////////////////////////////////////// */




/* ///////////////////////////////////////// MAIN BEGINS ///////////////////////////////////////////////////////////*/

main{
    font-family: 'Figtree', sans-serif;
}


.background-container{
    padding-top: 100px;
}

.background h6, .skills h6{
    font-family: 'Public Sans', sans-serif;
    color: coral;
    padding-left: 10px;
}

.background p{
    font-size: 1.1rem;
    width: 90%;
}

.skills li{
    list-style: none;
}

.other-images{
    width: cover;
    margin-right: 0px;
    padding-right: 0px;

}

.other-image{
    border-radius: 10%;
}

.other-image:first-child{
    border-radius: 0% 10% 10% 0;
}
.other-image:last-child{
    border-radius: 10% 0 0 10%;
    margin-right: 0;
    padding-right: 0;
}

.h6-heading{
    font-family: 'Public Sans', sans-serif;
    color: coral;
    padding-left: 10px;
    padding-bottom: 10px;
}

.off-white-background{
    background-color: hsl(270, 36%, 96%);
    width: 100%;
    padding: 3rem;
}

.testimonial-img{
    width: 25%;
    border-radius: 10%;
}

.contact form{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.contact form div input{
    padding: 1.5rem;
    background-color: hsl(270, 36%, 96%);;
}

.contact form div textarea{
    background-color: hsl(270, 36%, 96%);
}

.btn{
    background-color: coral;
    color: white;
}

.btn:hover{
    background-color: rgb(201, 100, 64);
}

/* ////////////////////////////////////////MAIN ENDS////////////////////////////////////////// */


/* //////////////////////////////////////FOOTER BEGINS/////////////////////////////////// */

footer{
    background-color: coral;
    color: white;
    padding: 9rem;
}

footer a{
    color: white;
}











@media screen and (max-width: 991px) {

    .other-images{
        width: cover;
        margin-right: 0px;
        padding-right: 0px;
    
    }
    
    .other-image{
        border-radius: 0%;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 50px;
    }
    
    .other-image:first-child{
        border-radius: 0;
    }
    .other-image:last-child{
        border-radius: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .testimonial-img{
        width: 50%;
        border-radius: 10%;
    }

    .contact form{
        width: 100%;
        margin-left: 0;
        transform: translateX(0%);
    }
    
}
